<div class="bullet-list" data-search-bullets-target="list">
  <ul>
    <% bullets.each do |bullet|  %>
    <li data-controller="bullet-list">
      <%= form_with url: bullet_path(bullet),
        method: :patch,
        html:
          { id: "bullet-#{bullet.id}",
            data: {
              bullet_list_target: "bullet",
              action: 'keyup->bullet-list#update',
              action: 'keydown->bullet-list#create_event' }} do |f| %>
      <div class="form-inputs" data-bullet-list-target="input">
        <%= f.text_field :content, value: bullet.content, label:false %>
      </div>
      <% end %>
      <%= form_with url: events_path,
          method: :post,
          html:
            { data: {
                bullet_list_target: "bulletevent",
                action: 'click->bullet-list#create_event'
            }} do |f| %>
            <%= f.text_field :bullet_id, value: bullet.id, label:false %>
            <%= f.text_field :title, value: bullet.content, label:false %>
            <%= f.date_field :day_start, value: Date.today, label:false %>
            <% end %>
    </li>
    <% end %>
    <li>
      <%= form_with url: bullets_path,
        method: :post, html: { id: "bullet-new",
        data: { bullet_list_target: "new" } } do |f| %>
      <div class="form-inputs">
        <%= f.text_field :content, label:false %>
      </div>
      <% end %>
    </li>
  </ul>
</div>
