<div class="bullet-list" data-search-bullets-target="list">
    <%= render "shared/searchbar" %>
  <ul>
    <% bullets.each do |bullet|  %>
    <li data-controller="bullet-list eventList" data-bullet-list-target="liBullet" data-eventList-target="liBullet" draggable="true">
      <p class="d-none" data-bullet-list-target="dateNow"><%= Date.today %></p>
      <%= form_with url: bullet_path(bullet),
        method: :patch,
        local: false,
        html:
          { id: "bullet-#{bullet.id}",
            data: {
              bullet_list_target: "bullet",
              action: 'keyup->bullet-list#update toto->eventList#updateList' }} do |f| %>
      <div class="form-inputs" data-bullet-list-target="input" draggable="true">
        <%= f.text_field :content, autocomplete: "off", value: bullet.content, label:false %>
      </div>
      <% end %>
    </li>
    <% end %>
    <li>
      <%= form_with url: bullets_path,
        method: :post,
        local: false,
        html: { id: "bullet-new",
          data: { bullet_list_target: "new" } } do |f| %>
      <div class="form-inputs">
        <%= f.text_field :content, autofocus: true, autocomplete: "off", label:false %>
      </div>
      <% end %>
    </li>
  </ul>
</div>
