<!DOCTYPE html>
<html>
  <head>
    <title>Mypersonalplanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <script>
    function onDragStart(event) {
      event
        .dataTransfer
        .setData('text/plain', event.target.id);

      event
      .currentTarget
      .style
      .backgroundColor = 'yellow';
    }

    function onDragOver(event) {
      event.preventDefault();
    }

    function onDrop(event) {
      const id = event
        .dataTransfer
        .getData('text');

      const draggableElement = document.getElementById(id);
      const dropzone = event.target;

      console.log(draggableElement)
      // dropzone.appendChild(draggableElement)
      dropzone.insertAdjacentHTML("beforeend",
              `<div id="event-${data.id}" class="event">
              <div class="title">
                <p id="title-content">${data.title}</p>
              </div>
              <div class="time">
                <div class="time-from">
                 <p>${data.hour_start ? data.hour_start.strftime("%H:%M") : "--:--"} </p>
                </div>
              </div>
            </div>`);


      event
        .dataTransfer
        .clearData();
    }

    </script>
  </body>
</html>
